@charset "utf-8";
body {
	position: relative;
	overflow-x: hidden
}
/* couplet */
.atm_couplet_left, .atm_couplet_right {
	position: fixed;
	left: 0;
	top: 60px;
	z-index: 1000
}
.atm_couplet_left_close, .atm_couplet_right_close {
	position: fixed;
	left: 0;
	top: 40px;
	z-index: 1000;
	background: #fff;
	font: 14px/20px "microsoft yahei";
	color: red;
	display: block;
	width: 40px;
	height: 20px;
	text-align: center;
	cursor: pointer
}
.atm_couplet_right_close, .atm_couplet_right {
	right: 0;
	left: auto;
}
/* mount */
.mount {
	width: 100%;
	position: relative;
	overflow: hidden;
	display: none
}
.mount a, .atm_bottom_pic a {
	display: block;
	position: absolute;
	left: 50%;
	top: 0;
}
.mount_close, .atm_bottom_pic_close {
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	right: 0;
	top: 0;
	background: red;
	text-align: center;
	font: 14px/40px "microsoft yahei";
	color: #fff;
	cursor: pointer;
	z-index: 1000
}
/* bottom center pic */
.atm_bottom_pic_bg {
	position: fixed;
	width: 100%;
	z-index: 1000;
	bottom: 0;
	left: 0
}
.atm_bottom_pic {
	width: 100%;
	overflow: hidden;
	position: relative;
}
/* bottom right pic */
.atm_bottom_right {
	position: fixed;
	z-index: 1000;
	bottom: 0;
	right: 0
}
.atm_bottom_right_pic {
	width: 100%;
	overflow: hidden;
	position: relative;
}
/* random_pic */
.random_pic img {
	display: block;
	margin: 0 auto;
}
/* banner */
.atm_banner {
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
	z-index: 0
}
.atm_banner img {
	display: block;
	margin: 0 auto;
}
.atm_banner_box {
	position: absolute;
	top: 0;
	left: 50%;
}
.atm_btns {
	width: 1002px;
	position: absolute;
	height: 81px;
	left: 50%;
	top: 50%;
	margin: -40px 0 0 -501px;
}
.atm_btns .atm_prev, .atm_btns .atm_next {
	width: 100px;
	height: 100px;/* float:left; */
	font: 700 110px/70px "simsun";
	color: #242424;
	text-align: center;
	position: absolute;
	left: -10%;
	top: 0;
	background: url(../images/b_next_03.png) no-repeat left center;
}
.atm_btns .atm_next {
	float: right;
	position: absolute;
	left: 100%;
	top: 0;
	background-position: right center;
}
/* float */
.floatPic .floatImg {
	z-index: 100;
	background: none;
	position: absolute;
	display: none;
}
.floatPic a {
	color: #000000;
	display: inline-block;
	text-decoration: none;
}
.floatPic a img {
	border: 0;
}
.floatPic .floatPicClose {
	position: absolute;
	top: 0;
	right: 0;
	width: 25px;
	height: 25px;
	background-color: red;
	font: 700 14px/25px "arial";
	color: #fff;
	text-align: center;
	cursor: pointer;
}
.child_top {
	width: 100%;
	height: 330px;
	position: relative;
	z-index: 999;
  overflow: auto;
}
.child_top a img {
	height: 330px;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -800px;
	display: block;
}
