server:
  projectName: "gf_cms"
  backendPrefix: "admin"
  address: ":8001"
  openapiPath: "/api.json"
#  swaggerPath: "/swagger"
  serverRoot: "resource/public"
  clientMaxBodySize: "50MB"
  dumpRouterMap:       true               # 是否在Server启动时打印所有的路由列表。默认为true
  graceful:            false              # 是否开启平滑重启特性，开启时将会在本地增加10000的本地TCP端口用于进程间通信。默认false
  gracefulTimeout:     2                  # 父进程在平滑重启后多少秒退出，默认2秒。若请求耗时大于该值，可能会导致请求中断

database:
  default:
    type: "mysql"
    debug: "true"
    dryRun: 0
    prefix: "cms_"
    removePrefix: "cms_"
    charset: "utf8mb4"
    maxIdle: "100"       #连接池最大闲置的连接数
    maxOpen: "100"      #连接池最大打开的连接数
    maxLifetime: "30s"  #连接对象可重复使用的时间长度
    host: "127.0.0.1"
    port: "3306"
    user: "gfcms"
    pass: "123456"
    name: "gfcms"

redis:
  default:
    address: 127.0.0.1:6379
    pass: ""
    db: 0
    minIdle: "0"   # 允许闲置的最小连接数
    maxIdle: "0"  # 允许闲置的最大连接数(0表示不限制)
    maxActive: "0" # 最大连接数量限制(0表示不限制)
    idleTimeout: "30m"  # 连接最大空闲时间，使用时间字符串例如30s/1m/1d

logger:
  level: "all"            # 日志输出级别
  path: "./log/"          # 日志文件路径。默认为空，表示关闭，仅输出到终端
  file: "{Y-m-d}.log"     # 日志文件格式。默认为"{Y-m-d}.log"
  ctxKeys: [ ]            # 自定义Context上下文变量名称，自动打印Context的变量到日志中。默认为空
  header: true            # 是否打印日志的头信息。默认true
  stdout: true            # 日志是否同时输出到终端。默认true
  rotateSize: 0             # 按照日志文件大小对文件进行滚动切分。默认为0，表示关闭滚动切分特性
  rotateExpire: 0             # 按照日志文件时间间隔对文件滚动切分。默认为0，表示关闭滚动切分特性
  rotateBackupLimit: 0             # 按照切分的文件数量清理切分文件，当滚动切分特性开启时有效。默认为0，表示不备份，切分则删除
  rotateBackupExpire: 0             # 按照切分的文件有效期清理切分文件，当滚动切分特性开启时有效。默认为0，表示不备份，切分则删除
  rotateBackupCompress: 0             # 滚动切分文件的压缩比（0-9）。默认为0，表示不压缩
  rotateCheckInterval: "1h"          # 滚动切分的时间检测间隔，一般不需要设置。默认为1小时
  stdoutColorDisabled: false         # 关闭终端的颜色打印。默认开启
  writerColorEnable: true         # 日志文件是否带上颜色。默认false，表示不带颜色

gfcli:
  build:
    name: "gfCms"
    arch: "amd64"
#    system: "darwin"
    system: "linux"
    mod: "none"
    cgo: 0
    packSrc: "manifest/config,resource/public/resource,resource/template,resource/i18n"
#    packSrc: "resource,manifest"
    packDst: "internal/packed/build_pack_data.go"
    version: ""
    path: ""
    extra: ""