<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>${ system_setting `web_name` }$</title>
    <meta name="keywords" content="${ system_setting `keywords` }$"/>
    <meta name="description" content="${ system_setting `description` }$"/>
    <link rel="stylesheet" type="text/css" href="/resource/pc/css/child_cart.css"/>
    <link rel="stylesheet" type="text/css" href="/resource/pc/css/child_atm.css"/>
    <link rel="stylesheet" type="text/css" href="/resource/pc/css/master.css"/>
    <link rel="stylesheet" type="text/css" href="/resource/pc/css/subpage.css"/>
    <script type="text/javascript" src="/resource/pc/js/jquery.js"></script>
    <script type="text/javascript" src="/resource/pc/js/child_atm.js"></script>
    <script type="text/javascript" src="/resource/pc/js/lihe.js"></script>
    <script type="text/javascript" src="/resource/pc/js/superslide.js"></script>
    <script type="text/javascript" src="/resource/pc/js/select_beauty.js"></script>
    <!--[if IE 6]>
    <script type="text/javascript" src="/resource/pc/js/png.js"></script>
    <script>DD_belatedPNG.fix('div,img,span,li,a,a:hover,dd,p,input,select')</script>
    <![endif]-->
</head>
<body>
<!-- 头部 -->
${include "/pc/public/head_index.html" .}$
<!-- 头部 end -->
<!-- banner -->
<div id="slideBox" class="slideBox">
    <div class="hd">
        <div>
            <ul>
                ${ range $key, $item := .adList }$
                <li></li>
                ${ end }$
            </ul>
        </div>
    </div>
    <div class="bd">
        <ul>
            ${ range $key, $item := .adList }$
            <li>
                <a href="${$item.Link}$">
                    <img src="/resource/images/loading.gif" data-original="${ $item.ImgUrl }$"/>
                </a>
            </li>
            ${ end }$
        </ul>
    </div>
</div>
<div class="h_mid_news_c_nnbg">
    <div class="h_mid_news_c_nn">
        <div class="txtMarquee-left">
            <div class="hd"><a class="next"></a> <a class="prev"></a></div>
            <div class="pgcnm fl">新闻滚动：</div>
            <div class="bd fl">
                <ul class="infoList">
                    ${ range $key, $item := .scrollNewsList }$
                    <li><a href="${ $item.Router }$">${ $item.Title }$</a></li>
                    ${ end }$
                </ul>
            </div>
            <div class="c"></div>
        </div>
    </div>
</div>
<!-- banner end -->
<!-- 四个展品展示 -->
<div class="fourcols">
    <ul>
        ${ range $key, $item := .recommendGoodsList }$
        <li>
            <a href="${ $item.Router }$" title="${ $item.Title }$">
                <div class="img"><img src="/resource/images/loading.gif" data-original="${ $item.Thumb }$"
                                      alt="${ $item.Title }$"/></div>
                <div class="title">${ $item.Title }$</div>
            </a>
        </li>
        ${ end }$
        <li>
            <a href="${ .recommendGoodsMoreUrl }$" title="查看更多">
                <div class="imgb"><img src="/resource/images/loading.gif"
                                       data-original="/resource/pc/images/more_products.gif" alt="查看更多"/></div>
                <div class="title">查看更多</div>
            </a>
        </li>
    </ul>
</div>
<!-- 四个产品展示 end -->
<!-- 关于我们 -->
<div class="abme_bg">
    <div class="title">
        <div>关于我们</div>
    </div>
    <div class="text">
        <div class="title">${ system_setting `corporate_name` }$</div>
        <a href="${ .aboutMoreUrl }$" title="查看详细" class="more">查看详细</a>
        <div class="msg">${ .about.Description|text|substr 0 200 }$...</div>
    </div>
    <div class="img atm_mid">
        <img src="/resource/images/loading.gif" data-original="${ .about.Thumb }$"
             alt="${ system_setting `corporate_name` }$"/>
    </div>

</div>
<!-- 关于我们 end -->
<!-- 产品中心 -->
<div class="product">
    <div class="head">
        <div class="w_980">
            <div class="title_b">
                <div class="a">产品中心</div>
                <div class="b">PRODUCT CENTER</div>
            </div>
            <!-- search -->
            <div class="search">
                <form name="formsearch" action="{:url('home.search')}" id="search_form">
                    <div class="s_c">
                        <input type="text" name="keyword" id="q" value="" class="search_text"
                               placeholder="请输入关键词！"/>
                    </div>
                    <input type="button" class="search_submit" value=""/>
                </form>
            </div>
            <!-- search end -->
            <div class="phone_b">
                <div>
                    <div class="msg">全国客服电话</div>
                    <div class="num">${ system_setting `tel` }$</div>
                </div>
            </div>
        </div>
    </div>
    <div class="cont">
        <ul class="lnav">
            ${ range $key, $item := .goodsChannelList }$
            <li>
                <a href="${ $item.ChannelRouter }$">
                    <div class="title">${ $item.Name }$</div>
                </a>
            </li>
            ${ end }$
        </ul>
        ${ range $key, $items := .goodsGroupList }$
        <ul class="rdata">
            ${ range $key, $item := $items }$
            <li>
                <a href="${ $item.Router }$" title="${ $item.Title }$" target="_self">
                    <div class="img"><img src="/resource/images/loading.gif" data-original="${ $item.Thumb }$"
                                          alt="${ $item.Title }$"/></div>
                    <div class="title">${ $item.Title }$</div>
                </a>
            </li>
            ${ end }$
        </ul>
        ${ end }$
    </div>
</div>
<!-- 产品中心 end -->
<!-- 最新资讯 -->
<div class="news_b">
    <div class="head">
        <div class="title">最新资讯</div>
        <div class="line">
            <div></div>
        </div>
        <div class="en">THE LATESET INFORMATION</div>
        <a href="${ .newsMoreUrl }$" title="查看详细" class="more" target="_self">查看详细</a>
    </div>
    <div class="w_980">
        <div class="lnews">
            ${ range $key, $item := .textNewsList }$
            ${ if eq $key 0 }$
            <div class="fir">
                <div class="time">
                    <div class="day">${ $item.CreatedAt | date "d" }$</div>
                    <div class="year">${ $item.CreatedAt | date "Y-m" }$</div>
                </div>
                <div class="info">
                    <div class="title"><a href="${ $item.Router }$">${ $item.Title | substr 0 40 }$</a></div>
                    <div class="msg">${ $item.Description | substr 0 100 }$...</div>
                </div>
            </div>
            ${ else }$
            <div class="item">
                <a href="${ $item.Router }$" title="${ $item.Title }$" class="title">${ $item.Title | substr 0 60 }$</a>
                <div class="time">${ $item.CreatedAt | date "Y/m/d"  }$</div>
            </div>
            ${ end }$
            ${ end }$
        </div>
        <div id="rimgs" class="rimgs">
            <div class="hd">
                <ul>
                    ${ range $key, $item := .picNewsList }$
                    <li> ${ $key | plus 1 }$</li>
                    ${ end }$
                </ul>
            </div>
            <div class="bd" style="background:url('/resource/images/loading.gif');">
                <ul>
                    ${ range $key, $item := .picNewsList }$
                    <li>
                        <a href="${ $item.Router }$" title="${ $item.Title }$" target="_self">
                            <img src="/resource/images/loading.gif" data-original="${ $item.Thumb }$">
                        </a>
                    </li>
                    ${ end }$
                </ul>
            </div>
        </div>

    </div>
</div>
<!-- 最新资讯 end -->
<!-- footer -->
${include "/pc/public/foot_index.html" .}$
</body>
</html>