body, input {
	font-family: "microsoft yahei";
}
.allpage {
	background-color: #ffffff!important;
}
/*font*/
@font-face {
	font-family: "iconfont";
	src: url('../font/iconfont.woff') format('woff'), url('../font/iconfont.ttf') format('truetype');
}
@font-face {
	font-family: "iconfont1";
	src: url('../font/iconfont1.woff') format('woff'), url('../font/iconfont1.ttf') format('truetype');
}
.iconfont {
	font-family: "iconfont" !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
.iconfont1 {
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
 borde/r-radius: 50%;
	display: inline-block;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
@font-face {
	font-family: "member";
	src: url('../font/member.woff') format('woff'),  url('../font/member.ttf') format('truetype');
}
.member_iconfont {
	font-family: "member" !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
/* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm */
.casei {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}
.nav_new ul li {
	width: 24.235%;
	height: 0.5rem;
	float: left;
	text-align: center;
	margin: 0;
	border-right: 1px solid #fff;
}
.nav_new {
	width: 100%;
	margin: 0 auto;
}
.tpp {
	background: #628de3;
}
.tpp ul li:nth-child(4) {
	border-right: 0;
}
.nav_new ul li a {
	display: inline-block;
	/* padding:80%; */
	color: #fff;
	font-size: 0.22rem;
	font-family: "microsoft yahei";
	height: 0.5rem;
	line-height: 0.5rem;
}
.nav_new ul li a:nth-child(4) {
	border: none!important;
}
.nav_new ul li a:last-child {
	border: none;
}
/* banner */
/* banner */
.banner {
	width: 100%;
	position: relative;
}
.swfra {
	display: block;
	width: 100%;
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 5%;
}
.swiper-pagination {
	padding: 0;
	margin: 0;
	display: inline-block;
	text-align: center!important;
	bottom: -0.05rem!important;
	background: rgba(255,255,255,.39);
	padding: 0 3%;
	border-radius: 0.1rem;
	position: relative !important;
}
.swiper-pagination-bullet {
	width: 0.15rem!important;
	height: 0.15rem!important;
	
	border: 0.02rem solid #628de3;
	opacity: 1!important;
	border-radius: 50%!important;
}
.swiper-pagination-bullet-active {
	background: none;
	border: 0.02rem solid #628de3;
	background-color: #628de3;
}
.swiper-pagination-bullet {
	margin: 0 0.02rem!important;
}
input {
	outline: none;
}
.search-lh-input {
	width: 75%;
	border: 1px solid #65b673;
	border-radius: 15px 0 0 15px;
	float: left;
	border-right: none;
	height: 0.461rem;
	font-size: 0.18rem;
	font-family: "microsoft yahei";
	text-indent: 5%;
	margin-top: 2%;
}
.search-lh-btn {
	width: 15%;
	float: left;
	background-color: #fff;
	border-radius: 0 15px 15px 0;
	border: 1px solid #65b673;
	border-left: none;
	height: 0.491rem;
	font-size: 0.25rem;
	margin-top: 2%;
}
.search_hl {
	width: 14.0625%;
	left: 0.1%;
	top: -1px;
	position: absolute;
	height: 100%;
	font-size: 0.38rem;
	line-height: 0.8rem;
	color: #fff;
	text-align: center;
	overflow: hidden;
}
.search {
	width: 96%;
	height: 0.691rem;
	padding: 0 2%;
	position: absolute;
	top: -120%;
	left: 0;
	background-color: #000;
	font-family: "microsoft yahei";
}
.search-lh-input {
	width: 75%;
	border: 1px solid #000;
	border-radius: 15px 0 0 15px;
	float: left;
	border-right: none;
	height: 0.461rem;
	font-size: 0.18rem;
	font-family: "microsoft yahei";
	text-indent: 5%;
	margin-top: 2%;
}
.search-lh-btn {
	width: 15%;
	float: left;
	background-color: #fff;
	border-radius: 0 15px 15px 0;
	border: 1px solid #000;
	border-left: none;
	height: 0.491rem;
	font-size: 0.25rem;
	margin-top: 2%;
}
.search a {
	display: inline-block;
	width: 9%;
	float: left;
	color: #fff;
	text-align: center;
	height: 0.7rem;
}
.index_text {
	font-size: 14px;
	width: 100%;
	height: 0.5rem;
	background: #fff url(../images/search_bg_05.png) no-repeat 95% center;
	-webkit-background-size: 7%;
	background-size: 7%;
	border: none;
	font-family: "microsoft yahei";
	text-indent: 3%;
}
.search_new {
	padding: 0 2%;
	text-align: center;
	margin-top: 3%;
}
.search_new input {
	width: 98%;
	border: 1px solid #cdcdcd;
	background: url(../images/fdj_09.png) no-repeat 97% center;
	-webkit-background-size: 7%;
	background-size: 7%;
	text-indent: 3%;
	padding: 2% 0;
}
.index_line {
	float: left;
	width: 100%;
}
.icon_nav {
	width: 99.0625%;
	margin: 0 auto;
	padding: 2% 0.4687% 2% 0.4687%;
	background: #efefef
}
.icon_nav ul li {
	width: 20%;
	text-align: center;
	float: left;
	margin: 0 0% 0 4%;
	padding: 2% 0;
	font-size: 0.2rem;
}
.icon_nav ul li:nth-child(4) {
	border-right: 0;
}
.icon_nav ul li a span {
	-webkit-line-clamp: 2;
	font-size: 0.2rem;
	padding: 0 20%;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
}
.iconfont1_ys {
	display: block;
	font-family: "microsoft yahei";
	width: 1rem;
	font-weight: normal;
	height: 0.5rem;
	padding: 0;
}
.la1 {
	background: #628de3;
}
.la2 {
	background: #628de3;
}
.la3 {
	background: #628de3;
}
.la4 {
	background: #628de3;
}
.la1 .iconfont1_ys {
	color: #fff;
}
.la2 .iconfont1_ys {
	color: #fff;
}
.la3 .iconfont1_ys {
	color: #fff;
}
.la4 .iconfont1_ys {
	color: #fff;
	font-size: 0.4rem;
	font-weight: bold;
	line-height: 0.7;
}
.common_title {
	text-align: center;
	position: relative;
	margin-top: 5%;
	margin-bottom: 3%;
}
.common_title span {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 1px;
	background-color: #b9bbcb;
}
.common_title h2 {
	position: relative;
	z-index: 1;
	display: inline-block;
	width: 38%;
	background-color: #2332c6;
	color: #fff;
	font-size: 0.26rem;
	padding: 1.5% 0;
	border-radius: 20px;
}
.more_i {
	width: 89.84375%;
	float: left;
	padding: 0;
	margin-left: 4.5%;
	background: #555;
	margin-top: 2%;
	border-left: 0.05rem solid #628de3;
}
.more_i span {
	float: left;
	margin-left: 3%;
	font-size: 0.22rem;
	color: #ffffff;
	line-height: 1.2;
	padding: 1.3% 1% 0 1%;
}
.more_i a {
	float: right;
	color: #fff;
	background: #628de3;
	font-size: 0.2rem;
	padding: 1.5% 2%;
}
.more_i1 {
	width: 92.5%;
	float: left;
	margin-left: 3.75%;
	padding: 0;
	margin-top: 2%;
}
.more_i1 span {
	float: left;
	font-size: 0.22rem;
	color: #2dc5ea;
	line-height: 1.2;
	padding: 1.2% 1% 0 1%;
}
.more_i1 a {
	float: right;
	color: #2dc5ea;
	font-size: 0.2rem;
	padding: 1.5% 3%;
}
.more_i2 {
	width: 100%;
	float: left;
	text-align: center;
	padding: 1% 0;
	background: #45b4e3;
	color: #ffffff;
}
.about_i {
	margin: 0 auto;
}
.about_i_c {
	line-height: 1.6;
	padding: 2% 5% 1% 5%;
	font-size: 0.2rem;
	color: #222222;
	text-indent: 2em;
}
.common_title_new h2 {
	background-color: #e00409!important;
}
.honor_i {
	margin: 0 auto;
	width: 100%;
	padding: 0;
}
.casei {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}
.casei li {
	width: 100%;
	height: auto;
	margin: 3% auto 0 auto;
	overflow: hidden
}
.case_i {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}
.beian {
	background-color: #ffffff;
	color: #000000;
	text-align: center;
	height: 0.65rem;
	line-height: 0.65rem;
	font-size: 0.21rem;
}
.beian a {
	color: #000000;
	font-size: 0.21rem;
}
.common_bg {
	background-color: #ff4863;
}
.honor_i_c {
	margin: 0 auto;
	padding: 2.5% 0 1% 0;
	width: 98.125%;
}
.honor_i_c ul li {
	position: relative;
	width: 43.63057%;
	float: left;
	text-align: center;
	margin: 1% 1.2% 0 3.8%;
}
.honor_i_c ul li span {
	position: relative;
	display: block;
	background: url(../images/jian.gif) left center no-repeat;
	background-size: 3%;
	color: #21273c;
	width: 92%;
	padding: 4% 0 3% 4%;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 0.2rem;
}
.honor_i_c ul li label {
	position: relative;
	display: block;
	color: #21273c;
	width: 100%;
	padding: 4% 0 3% 0;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 0.2rem;
}
.case_c {
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 0% 0 3% 0;
}
.case_c ul li {
	width: 92.5%;
	margin: 3% 0 0 3.75%;
	border-bottom: 0 !important;
	float: left;
}
.case_c ul li.l1 {
	border-bottom: 1px solid #dff9ff !important;
	padding: 3% 0;
	margin: 0 0 0 3.75%;
}
.baomingfra {
	width: 100%;
	background: #555;
}
.baoming {
	padding: 3% 0 4% 0;
	width: 100%;
	background: #628de3;
	font-family: "microsoft yahei";
	color: #628de3;
	text-align: left;
	margin: 3% auto 0 auto;
}
.baoming .right span {
	color: #fff;
	width: 98%;
	padding: 2% 1% 0 1%;
	background-size: 100%;
	display: block;
	text-align: center;
}
.baoming .left {
	margin: 0 auto;
	width: 100%;
	font-size: 0.23rem;
	text-align: center;
	color: #fff;
	overflow: hidden;
}
.baoming .left font {
	color: #fff;
	font-size: 0.3rem;
}
.baoming .left span {
	border-bottom: 1px solid #fff;
	display: inline-block;
	padding: 0 2%;
	line-height: 1.7;
}
.baoming .right {
	float: left;
	width: 100%;
	margin-top: 1%;
	font-size: 0.18rem;
	margin: 0;
}
.honor_i_h {
	margin: 0 auto;
	padding: 1% 0 1% 0;
	width: 96.875%;
}
.honor_i_h ul li {
	position: relative;
	width: 28.70967%;
	float: left;
	text-align: center;
	margin: 2% 0.5% 0 3.1%;
}
.honor_i_h ul li span {
	display: block;
	background: #242424;
	color: #fff;
	padding: 4% 0;
	font-size: 0.2rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	margin: 0;
}
.case_i_c {
	padding: 1% 0 1% 0;
	overflow: hidden;
	height: auto;
}
.case_i_c ul li {
	padding: 1% 0 1% 0;
	width: 90.625%;
	display: block;
	float: left;
	margin-left: 4.5%;
	margin-top: 0;
}
.case_i_c ul li:nth-child(even) {
	background: #e6e6e6
}
#nn1 ul li:nth-child(odd) {
	background: #e6e6e6
}
#nn1 ul li:nth-child(even) {
	background: #fff
}
.case_i_c ul li a {
	float: left;
	width: 100%;
	color: #282828;
}
.case_i_c ul li h2 {
	float: left;
	margin-left: 1.5%;
	line-height: 1.5;
	font-size: 0.20rem;
	font-weight: normal;
	width: 65%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.case_i_c ul li span {
	float: left;
	line-height: 1.5;
	color: #24222f;
	font-size: 0.22rem;
	font-weight: normal;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.boda {
	text-align: center;
	background: #555;
	padding: 1% 0;
	width: 100%;
	margin: 0 auto;
	font-size: 0.22rem;
	display: block;
	color: #f7cb0c
}
.boda font {
	font-size: 0.3rem;
	color: #fff;
	font-weight: normal;
	vertical-align: -0.01rem;
}
.boda a {
	width: 93.75%;
	display: block;
	padding: 0.5% 0;
	margin: 0 auto;
	color: #fff;
	border: 1px solid #fff;
}
.youhui {
	margin: 2.5% auto 0 auto;
	width: 90.625%;
}
.youhui a img {
	float: left;
	width: 25.6896%;
}
.yright {
	float: left;
	width: 100%;
}
.youhui label {
	font-weight: normal;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 0.2rem;
	color: #000000;
	padding: 0% 0 2% 0;
}
.yright span {
	float: left;
	width: 70%;
	font-size: 0.19rem;
	color: #525252;
	line-height: 1.3;
	padding: 0 0 0 3%;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
}
 @media all and (min-width:640px) {
.content {
	width: 640px;
	margin: 0 auto;
	position: relative;
}
}
.foot {
    background: rgba(98, 141, 227, 0.7);
}
