<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>搜索_${ .keyword }$-${ system_setting `web_name` }$</title>
    <link rel="stylesheet" type="text/css" href="/resource/pc/css/child_cart.css" />
    <link rel="stylesheet" type="text/css" href="/resource/pc/css/child_atm.css" />
    <link rel="stylesheet" type="text/css" href="/resource/pc/css/master.css" />
    <link rel="stylesheet" type="text/css" href="/resource/pc/css/subpage.css" />
    <script type="text/javascript" src="/resource/pc/js/jquery.js"></script>
    <script type="text/javascript" src="/resource/pc/js/child_atm.js"></script>
    <script type="text/javascript" src="/resource/pc/js/lihe.js"></script>
    <script type="text/javascript" src="/resource/pc/js/superslide.js"></script>
    <script type="text/javascript" src="/resource/pc/js/select_beauty.js"></script>
    <!--[if IE 6]>
    <script type="text/javascript" src="/resource/pc/js/png.js"></script>
    <script>DD_belatedPNG.fix('div,img,span,li,a,a:hover,dd,p,input,select')</script>
    <![endif]-->
    <script type="text/javascript" src="/resource/pc/js/zoom.js"></script>
</head>

<!-- 头部 -->
${include "/pc/public/head.html" .}$
<!-- 头部 end -->

<!-- banner -->

<div class="child_top">
    <div class="sear_b">
        <div class="head">
            <div class="title_b">
                <div class="a">产品中心</div>
                <div class="b">PRODUCT CENTER</div>
            </div>
            <!-- search -->
            <div class="search">
                <form name="formsearch" action="/search.html" id='search_form'>
                    <div class="s_c">
                        <input type="text" name="keyword" id="q" value="${ .keyword }$" class="search_text" placeholder="请输入关键词！" />
                    </div>
                    <input type="button" class="search_submit" value=''/>
                </form>
            </div>
            <!-- search end -->
            <div class="phone_b">
                <div>
                    <div class="top_msg">全国客服电话</div>
                    <div class="num">${ system_setting `tel` }$</div>

                </div>
            </div>

        </div>
    </div>

    <a href="javascript:;" class="random_pic">
        <img src="/resource/pc/images/fu_banner.jpg" width="1600" height="330">
    </a>

</div>
<!-- banner -->
<!-- 图标导航 -->
<!-- 图标导航 end-->
<div class="main_c">
    <div class="main" id="content">
        <!-- 左侧部分 -->
        ${include "/pc/public/left.html" .}$
        <!-- 左侧部分 end-->
        <!-- 内容部分 -->
        <div class="sp_content" id="contentRight">
            <div class="content_com_title">
                <h2>搜索</h2>
                <div class="bread"> 当前位置：搜索“<span style="color:red;">${ .keyword }$</span>”</div>
            </div>

            <div class="content">
                <ul class="news1 news3 news_indent" id="">
                    ${ if ne .list nil }$
                    ${ range $key, $item := .list.List }$
                    <li>
                        <a href="${ $item.Router }$" title="${ $item.Title }$" class="pg-color">${ $item.Title | substr 0 40 }$</a>
                        <span>${ $item.CreatedAt }$</span>
                    </li>
                    ${ end }$
                    ${ else }$
                    <li style="text-align: center">无搜索结果</li>
                    ${ end }$
                </ul>
                <!-- 分页开始 -->
                <div class="pagess">
                    <ul class="pagination">
                        ${ .pageInfo }$
                    </ul>
                </div>
                <!-- 分页结束 -->
                <!-- /pagess -->
            </div>
        </div>
        <!-- 内容部分 end-->
    </div>
</div>

<!-- footer -->
${include "/pc/public/foot.html" .}$
</body></html>