<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="telephone=no" name="format-detection" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>${ .tdk.Title }$</title>
    <meta name="description" content="${ .tdk.Description }$"/>
    <link rel="stylesheet" type="text/css" href="/resource/mobile/css/subpage.css" />
    <script type="text/javascript" src="/resource/mobile/js/jquery.js"></script>
    <script type="text/javascript" src="/resource/mobile/js/nav.js"></script>
    <script type="text/javascript" src="/resource/mobile/js/cart_icon.js"></script>
</head>
<body>
<!-- 导航开始 -->
${include "/mobile/public/navigation.html" .}$
<!-- 导航结束 -->
<div class="allpage">
    <!-- head开始 -->
    ${include "/mobile/public/head.html" .}$
    <!-- head结束 -->
    <div class="content">
        <div class="about">
            <h1>${ .channelInfo.Name }$</h1>
            <span class="picContent">
				<div>
					${ .channelInfo.Description }$
				</div>
			</span>


        </div>
        ${include "/mobile/public/foot.html" .}$
    </div>
</div>
</body>
</html>