<div class="bb_nav">
	<div class="bb_nav_c">
		<ul>
			<li><a href="/">网站首页</a></li>
			${ range $key, $item := .navigation }$
			<li>
				<a href="${ $item.ChannelRouter }$" target="${ $item.TriggerType }$">${ $item.Name }$</a>
			</li>
			${ end }$
		</ul>
		<span></span></div>
</div>
<div class="footer_c">
	<div class="footer">
		<div class="links">
			<span>友情链接：</span>
			${ range $key, $item := .friendlyLinkList }$
			<a href="${ $item.Url }$" target="_blank">${ $item.Name }$</a>
			${ end }$
		</div>
		<div class="f_content">
			<p>地址：${ system_setting `address` }$ &nbsp;电话：${ system_setting `tel` }$&nbsp;邮箱：${ system_setting `email` }$</p>
			<p>
				<a href="//www.miit.gov.cn" target="_blank" title="">${ system_setting `bei_an` }$</a>&nbsp;
				Copyright &copy; ${ system_setting `power_by` }$ 版权所有
			</p>
		</div>
		<div class="c"></div>
	</div>
	<div style="text-align:center;">${ system_setting `tongji_pc` }$</div>
</div>
<div class="side_nav">
	<ul>
		<li class="QQ"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=${ system_setting `qq` }$&amp;Site=${ system_setting `web_name` }$&amp;Menu=yes"
		                  title="${ system_setting `qq` }$" target="_blank"> <span>在线客服</span> </a></li>
		<li class="sub_QR"><a href="javascript:;"> <span><img src="{$sys_config.weixin_qr_code}"/></span> </a></li>
		<li class="QQ" id="liuyan"><a href="{:getCatUrl(97)}"> <span>在线留言</span> </a></li>
		<li class="back_top"><a href="#" title="返回顶部"> <span>返回顶部</span> </a></li>
	</ul>
	<div class="c"></div>
</div>
<script src="/resource/pc/js/jquery.lazyload.mini.js"></script>
<script type="text/javascript">

//惰性加载图片
$("img").lazyload({
	threshold      : 10,
	failurelimit   : 10,
	skip_invisible : false,
	effect         : "fadeIn"
	//effect: "slideDown"
});

window.onload = function() {
	imgZoomRun("product3", "p", "prod-zoom", "li"); // 图片放大
	imgZoomRun("product7", "p", "prod-zoom", "li");
	imgZoomRun("product8", "p", "prod-zoom", "li");
	newsFontMove("fontjump"); // 鼠标放上，字体上下挪
	newsFontMove("fontjump#628de3"); // 鼠标放上，字体上下挪
	//#628de3Change("fontjump#628de3"); // 隔行换色
	//#628de3Change("news5"); // 隔行换色
	listImgZoom("product1", "215"); // 图片缩放，需要给定宽度
	listImgZoom("product2", "215"); // 图片缩放，需要给定宽度
	listImgZoom("product3", "215"); // 图片缩放，需要给定宽度
	listImgZoom("product4", "215"); // 图片缩放，需要给定宽度
	listImgZoom("product5", "215"); // 图片缩放，需要给定宽度
	listImgZoom("product6", "215"); // 图片缩放，需要给定宽度
	listImgZoom("product8", "200"); // 图片缩放，需要给定宽度
	enterAnimation("news_fadein");
	if (typeof (data) != "undefined") {
		var lefttype = new LeftType(data, "left-type", 0); // 多级分类
	}
	afx.conHeightAuto();
};
window.addEventListener("resize", function() {
	afx.conHeightAuto();
}, false);
</script>
<script type="text/javascript">
$(function() {
	// 产品中心相关脚本
	$('.product .rdata li').hover(function() {
		$(this).find('.img').css('border-#628de3', '#628de3');
		$(this).find('.title').css('background-#628de3', '#628de3');
	}, function() {
		$(this).find('.img').css('border-#628de3', '#e0e0e0');
		$(this).find('.title').css('background-#628de3', '#23201d');
	});
	$('.product .rdata').first().show();
	$('.product .lnav li').mouseenter(function() {
		$('.product .rdata').hide();
		$($('.product .rdata')[$(this).index()]).show();
	});
	jQuery(".rimgs").slide({mainCell : ".bd ul", autoPlay : true});
	// 最下方滑过
	$('.imgh').hover(function() {
		$(this).find('.msg_bg').show();
	}, function() {
		$(this).find('.msg_bg').hide();
	});
	// 搜索
	$('.search_submit').click(function() {
		var q_v = $('#q').val();
		$('#search_form').submit();
	});

})
</script>
<!--百度自动推送-->
<script>
(function() {
	var bp = document.createElement('script');
	var curProtocol = window.location.protocol.split(':')[0];
	if (curProtocol === 'https') {
		bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
	} else {
		bp.src = 'http://push.zhanzhang.baidu.com/push.js';
	}
	var s = document.getElementsByTagName("script")[0];
	s.parentNode.insertBefore(bp, s);
})();
</script>
