<div class="bb_nav">
    <div class="bb_nav_c">
        <ul>
            <li><a href="/">网站首页</a></li>
            ${ range $key, $item := .navigation }$
            <li>
                <a href="${ $item.ChannelRouter }$" target="${ $item.TriggerType }$">${ $item.Name }$</a>
            </li>
            ${ end }$
        </ul>
        <span></span></div>
</div>
<div class="footer_c">
    <div class="footer">
        <div class="links">
            <span>友情链接：</span>
            ${ range $key, $item := .friendlyLinkList }$
            <a href="${ $item.Url }$" target="_blank">${ $item.Name }$</a>
            ${ end }$
        </div>
        <div class="f_content">
            <p>地址：${ system_setting `address` }$ &nbsp;电话：${ system_setting `tel` }$&nbsp;邮箱：${ system_setting
                `email` }$</p>
            <p>
                <a href="//www.miit.gov.cn" target="_blank" title="">${ system_setting `bei_an` }$</a>&nbsp;
                Copyright &copy; ${ system_setting `power_by` }$ 版权所有
            </p>
        </div>
        <div class="c"></div>
    </div>
    <div style="text-align:center;">${ system_setting `tongji_pc` }$</div>
</div>
<div class="side_nav">
    <ul>
        <li class="QQ"><a
                href="http://wpa.qq.com/msgrd?v=3&amp;uin=${ system_setting `qq` }$&amp;Site=${ system_setting `web_name` }$&amp;Menu=yes"
                title="${ system_setting `qq` }$" target="_blank"> <span>在线客服</span> </a></li>
        <li class="sub_QR"><a href="javascript:;"> <span><img src="${ system_setting `wechat_img` }$"/></span> </a></li>
        <li class="QQ" id="liuyan"><a href="${ .guestbookChannelUrl }$"> <span>在线留言</span> </a></li>
        <li class="back_top"><a href="#" title="返回顶部"> <span>返回顶部</span> </a></li>
    </ul>
    <div class="c"></div>
</div>
<script src="/resource/pc/js/jquery.lazyload.mini.js"></script>
<script src="/resource/pc/js/main.js"></script>
