<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>${ system_setting `web_name` }$</title>
    <meta name="keywords" content="${ system_setting `keywords` }$"/>
    <meta name="description" content="${ system_setting `description` }$"/>
    <link rel="stylesheet" type="text/css" href="/resource/mobile/css/subpage.css"/>
    <script type="text/javascript" src="/resource/mobile/js/jquery.js"></script>
    <style>
        .foot {
            background: rgba(98, 141, 227, 0.7);
        }

        .nav {
            background: #555555
        }

        .nav_color {
            background: #000000
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/resource/mobile/css/master.css"/>
    <link rel="stylesheet" type="text/css" href="/resource/mobile/css/swiper.css"/>
    <script type="text/javascript" src="/resource/mobile/js/nav.js"></script>
    <script type="text/javascript" src="/resource/mobile/js/cart_icon.js"></script>
    <script type="text/javascript" src="/resource/mobile/js/swiper.js"></script>
    <script type="text/javascript" src="/resource/mobile/js/lihe.js"></script>
</head>
<body>
${include "/mobile/public/navigation.html" .}$
<div class="allpage">
    <div class="black-fixed commonfont1">&#xe607;</div>
    <div class="header">
        <div class="head">
            <a href="/" title="${ system_setting `web_name` }$" class="logo">
                <img style="margin-top: 6px;" src="/resource/mobile/images/logo.png" alt=""/>
            </a>
            <div class="nav-btn iconfont">&#xe605;</div>
        </div>
    </div>
    <div class="nav_new tpp">
        <ul>
            <li class="t1"><a href="${ .aboutChannelUrl }$">公司简介</a></li>
            <li class="t2"><a href="${ .newsChannelUrl }$">新闻动态</a></li>
            <li class="t3"><a href="${ .productChannelUrl }$">产品展示</a></li>
            <li class="t4"><a href="${ .contactChannelUrl }$">联系我们</a></li>
        </ul>
        <div class="c"></div>
    </div>
    <div class="content content_new">
        <div class="banner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    ${ range $key, $item := .adList }$
                    <div class="swiper-slide">
                        <a href="${$item.Link}$">
                            <img src="${ $item.ImgUrl }$"/>
                        </a>
                    </div>
                    ${ end }$
                </div>
                <!-- Add Pagination -->
                <div class="swfra">
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <p class="boda"><a href="tel:${ system_setting `tel` }$"><font class="commonfont">&#xe663;</font>咨询热线：${ system_setting `tel` }$</a>
            </p>
            <div class="icon_nav">
                <ul>
                    ${ range $key, $item := .goodsChannelList }$
                    ${ if lt $key 3  }$
                    <li class="la${ $key | plus 1  }$">
                        <a href="${ $item.ChannelRouter }$">
                            <strong class=" iconfont1_ys"><span>${ $item.Name }$</span></strong>
                        </a>
                    </li>
                    ${ end }$
                    ${ end }$
                    <li class="la4">
                        <a href="${ .productChannelUrl }$"> <strong class=" iconfont1_ys  ">...</strong> </a>
                    </li>
                </ul>
                <div class="c"></div>
            </div>
            <div class="clear"></div>
            <div class="honor_i">
                <div class="more_i "><span>产品展示</span><a href="${ .productChannelUrl }$">查看更多</a></div>
                <div class="clear"></div>
                <div class="honor_i_c">
                    <ul>
                        ${ range $key, $item := .recommendGoodsList }$
                        <li><a href="${ $item.Router }$" title="${ $item.Title }$"> <img
                                src="/resource/images/loading.gif" data-original="${ $item.Thumb }$" alt="${ $item.Title }$">
                            <span>${ $item.Title|substr 0 100 }$</span> </a></li>
                        ${ end }$
                    </ul>
                    <div class="c"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="about_i">
                <div class="more_i"><span>关于我们</span><a href="${ .aboutChannelUrl }$">查看更多</a></div>
                <div class="clear"></div>
                <div class="about_i_c">
                    ${ .aboutChannelDescription|text|substr 0 110 }$
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="case_i">
                <div class="more_i"><span>新闻动态</span><a href="${ .newsChannelUrl }$">查看更多</a></div>
                <div class="clear"></div>
                <div class="youhui">
                    ${ range $key, $item := .picNewsList }$
                    <a href="${ $item.Router }$">
                        <label>${ $item.Title }$</label>
                        <div class="yright">
                            <img src="/resource/images/loading.gif" data-original="${ $item.Thumb }$"/>
                            <span>${ $item.Description|text|substr 0 110 }$...</span>
                        </div>
                    </a>
                    ${ end }$
                    <div class="c"></div>
                </div>
                <div class="clear"></div>
                <div class="case_i_c" id="nn1">
                    <ul>
                        ${ range $key, $item := .textNewsList }$
                        <li>
                            <a href="${ $item.Router }$">
                                <span class="iconfont">&#xe609;</span>
                                <h2>${ $item.Title }$</h2>
                            </a>
                        </li>
                        ${ end }$
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="honor_i">
                <div class="more_i m3"><span>荣誉资质</span><a href="${ .honorChannelUrl }$">查看更多</a></div>
                <div class="clear"></div>
                <div class="honor_i_h">
                    <ul>
                        ${ range $key, $item := .honorList }$
                        <li>
                            <a href="${ $item.Router }$" title="${ $item.Title }$">
                                <img src="/resource/images/loading.gif"
                                     data-original="${ $item.Thumb }$" alt="${ $item.Title }$">
                            </a>
                        </li>
                        ${ end }$
                    </ul>
                    <div class="c"></div>
                </div>
            </div>
            <!-- foot -->
            ${include "/mobile/public/foot.html" .}$
        </div>
</body>
</html>